* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(53 74 66);
}
nav {
    background-color: rgb(53 74 66);
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    justify-content: space-evenly;
    position: sticky;
}

.res-nav{
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    color: rgb(255 189 89);
    font-weight: 700;
    font-size: 22px;
    width: 30%;
}

.menu-toggle {
    cursor: pointer;
    display: none; /* Hidden on larger screens */
}

.links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px ;
    list-style: none;
    margin-top: 10px;
    padding: 30px;
}

.links li, .links a {
    color: rgb(255 189 89);
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    /* text-align: center; */
}
/* .links a:hover{
    border-bottom: 1px #ec920c;
} */

.links a i {
    margin-right: 10px;
    /* color: rgb(255 189 89); */
}

.search form {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
    min-width: 70%;
    gap: 10px;
}

.search input {
    padding: 10px;
    min-width: 350px;
    border-radius: 10px;
    border: 1px solid #fdee42;
    
}

.search input::placeholder {
    color: black;
}

.search button {
    padding: 10px;
    width: 50px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    cursor: pointer;
}
.upper--img img {
     width: 100%; 
}

.main {
    display: flex;
    gap: 50px;
}

.product-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0;
    width: 100%;
    height: auto;
    margin-top: 50px    ;

}
.product-section p{
    color: #fff;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    background-color: rgb(255 255 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    border: .5px solid white;
}
.product:hover{
    box-shadow: 0 1px 10px 10px rgba(180, 178, 178, 0.67);
    cursor: pointer;
    transition: 0.4s ease;
}

.product img {
    height: 200px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000000;
}

.product p {
    font-size: 16px;
    color: #000000;
    margin-bottom: 15px;
}

.product button {
    color: black;
    background-color: rgb(255 189 89);
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #c6bd4f;
}

.product .preview-btn{
    background-color: #fff;
}

@media (max-width: 768px) {
    .product-section {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    .product img {
        max-width: 300px;
    }
    .main{
        display: block;
    }
}

@media (max-width: 480px) {
    .product-section {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    .product img {
        max-width: 300px;
    }
}

@media (max-width: 768px) {
    
    .search input {
        padding: 10px;
        min-width: 200px;
        border-radius: 10px;
        border: 1px solid #fdee42;
        
    }

    .navbar {
        align-items: flex-start;
        background-color: rgb(53 74 66);
    }

    .logo-menu {
        width: 100%;
    }

    .menu-toggle {
        display: block;
        padding: 10px; 
        font-size: 25px;
    }

    .links {
        display: none; 
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }

    .links li {
        padding: 10px 0; /* Add spacing between links */
    }
    
    .links.active {
        display: flex; /* Show links when menu is toggled */
    }

    .search {
        width: 200px;
        margin-top: 10px;
    }

    .checkbox label{
        width: 100%;
        display: flex;
        grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));
    }     
}